body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:990px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:190px;
  top:90px;
  width:800px;
  height:1422px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:1422px;
}
#u1 {
  position:absolute;
  left:2px;
  top:703px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:360px;
  top:746px;
  width:594px;
  height:134px;
  font-family:'Roboto Light', 'Roboto';
  font-weight:200;
  font-style:normal;
  text-align:left;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:594px;
  height:134px;
}
#u3 {
  position:absolute;
  left:2px;
  top:20px;
  width:590px;
  word-wrap:break-word;
}
